<a href="#top" id="goToTop" class="fixed bottom-8 right-8 bg-white text-primary  w-14 h-14 rounded-full border border-primary shadow-lg opacity-0 transition-opacity duration-500 ease-in-out flex justify-center items-center z-50">
	<i class="fa-solid fa-arrow-up"></i>
</a>
