{% extends 'base.html.twig' %}

{% block title %}My Garden - Shop Categories
{% endblock %}

{% block body %}


	<!--BANNER-->
	{% include ('_partials/shop/_banner_category.html.twig')%}

	<section class="shop_categories bg-bg3">

		<div class=" w-full pt-5 lg:pt-12 pb-10 ">
			<h2 class="text-[1.5rem] md:text-[2rem] text-center  text-black font-normal ">
				<span>Our</span>
				{{category.name}}</h2>
			<!--image-->
			<img src="{{asset('assets/images/decoration_text.png')}}" loading="lazy" alt="decoration title" class="mx-auto">

			<div
				class=" mx-auto px-8 lg:px-16 mt-10">

				{# ---------- breadcrump----------------------- #}
				<div class="breadcrump w-full flex flex-col-reverse lg:flex-row  justify-between my-4">
					<nav class=" text-sm font-medium">
						<ol class="breadcrump flex justify-start ">
							<li class="text-gray">
								<a href="{{path('shop')}}" class="text-gray hover:underline focus:underline active:underline hover:text-primary focus:text-primary active:text-primary">All products</a>
							</li>
							<li class="text-gray">
								<span class="mx-1 text-gray">></span>
							</li>
							<li class="text-gray">
								<span class="mx-1 text-gray">{{category.name}}</span>
							</li>
						</ol>
					</nav>
				</div>

				<!--CATEGORIES-->
				<div
					class=" w-full">

					<!--CARDS CATEGORIES-->
					<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4  gap-8 lg:gap-12">

						{% for product in category.products %}

							<!--CARD-->
							{% include 'components/card.html.twig'%}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
