<section class="help_you w-full pt-5 lg:pt-12 pb-10 bg-bg2">
	<div class="container mx-auto ">
		<div class="our_products w-full">

			<div
				class="help_you_block flex flex-wrap flex-col flex-str lg:flex-row px-8 lg:px-16 items-center">

				<!--image-->
				<div class="help_you_image w-1/3  mb-10 mb:mb-0">
					<img src="{{asset('assets/images/about/bonsai.png')}}" loading="lazy" alt="">
				</div>

				<!--text-->
				<div class="help_you_text w-2/3 px-10 flex flex-col justify-between">
					<h2 class="text-4xl md:text-5xl font-medium line_height12  md:font-semibold text-black">Whatever the occasion, we'll help you find the perfect bouquet or decoration.</h2>

					<!--button-->
					<a href="" class="mt-6 py-2 px-4 mb-2 sm:mb-0 w-fit text-base font-medium text-white  bg-primary rounded-sm border border-primary hover:bg-white hover:text-primary transition ease-in-out delay-100 capitalize">Shop now</a>
				</div>

			</div>
		</div>
	</div>
</section>
