<section class="our_store">

	<div class=" w-full pt-5 lg:pt-12 pb-10 ">
		<h2 class="text-[1.5rem] md:text-[2rem] text-center  text-black font-normal">Our store</h2>
		<!--image-->
		<img src="{{asset('assets/images/decoration_text.png')}}" loading="lazy" alt="decoration title" class="mx-auto">

		<div class="md:container mx-auto px-8 lg:px-16">

			<p class="mb-2 mt-10">At My Garden - Flower Shop, we pride ourselves on delivering exceptional service tailored to your unique floral needs. Our team is composed of skilled florists who possess a deep knowledge of flowers and design, ensuring that every bouquet and decoration we create is a masterpiece.

			</p>
			<p class="mb-2">Our personalized approach ensures that each project is executed with precision and creativity, making My Garden - Flower Shop your go-to destination for all your floral needs.</p>

			<!--CARDS-->
			<div
				class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  gap-8 lg:gap-32 mt-16">

				<!--CARD-->
				<div class="card mb-12 ">
					<img src="{{asset('assets/images/about/store1.jpg')}}" loading="lazy" class="w-full rounded-tr-[80px] rounded-bl-[80px]" alt=""/>
				</div>
				<!--CARD-->
				<div class="card mb-12 ">
					<img src="{{asset('assets/images/about/store2.jpg')}}" loading="lazy" class="w-full rounded-tr-[80px] rounded-bl-[80px]" alt=""/>
				</div>
				<!--CARD-->
				<div class="card mb-12 ">
					<img src="{{asset('assets/images/about/store3.jpg')}}" loading="lazy" class="w-full rounded-tr-[80px] rounded-bl-[80px]" alt=""/>
				</div>


			</div>
		</div>
	</div>
</section>
