<section class="conversation w-full pt-8 pb-10 bg-bg3 overflow-hidden relative">
	<div class="lg:container lg:mx-auto h-[300px] md:h-[410px]">

		<div class="conversation_block flex flex-col xl:flex-row px-1 md:px-16 w-full">
			<div class="conversation_left  w-full xl:w-3/4 flex flex-col md:flex-row p-4 md:p-0">
				<div class="conversation_left_col flex-1 z-10 pe-0 md:pe-36 xl:pe-0">
					<div class="conversation_left_description mt-4 me-4 ">

						<h2 class="text-black text-center md:text-start  text-4xl md:text-5xl  font-bold mb-3 line_height12">Want to have a friendly conversation with us?</h2>

						<p class="mb-6 w-full  lg:w-3/4 text-start">Feugiat imperdiet malesuada egestas turpis cras tincidunt nibh lorem pede sit sem suspendisse pretium rhoncus lectus ex conubia in vel mi consectetuer platea augue et natoque sollicitudin eros ipsum nostra viverra accumsan fames libero habitant dapibus</p>

						<div class="button mb-0 text-center md:text-start">
							<a href="" type="button" class="py-2 px-4   text-base font-medium text-white  bg-primary rounded-sm border border-primary hover:bg-white hover:text-primary transition ease-in-out delay-100">Contact us</a>
						</div>
					</div>
				</div>
			</div>
			<div class="conversation_right flex-none opacity-10  lg:opacity-100 lg:block absolute right-0 ">
				<img src="{{asset('assets/images/home/flower_corner.png')}}" loading="lazy" class=" z-10" alt=""/>
			</div>
		</div>
	</div>
</section>
