{% if galleries|length > 0 %}

	<section class=" bg-white">

		<div class="gallery w-full pt-5 lg:pt-12 pb-10 ">
			<h2 class="text-[1.5rem] md:text-[2rem] text-center  text-black font-normal ">Gallery</h2>

			<!--image-->
			{% include "_partials/_decoration.html.twig" %}

			<div
				class="container-fluid md:container mx-auto px-4">

				<!--CARDS-->
				<div
					class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mt-16">

					<!--CARD-->
					{% for gallery in galleries %}
						<div class="card border border-gray-200">
							<img src="{{ asset('upload/galleries/' ~ gallery.imageName) }}" alt="{{ gallery.name }}" loading="lazy" class="w-full group-hover:opacity-75">
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endif %}
