<section class="opening w-full pt-5 lg:pt-12 pb-10 bg-white">
	<div class=" w-full md:container mx-auto ">
		<h2 class="text-[1.5rem] md:text-[2rem]  text-center  text-black font-normal">Opening hours</h2>
		<!--image-->
		<img
		src="{{asset('assets/images/decoration_text.png')}}" loading="lazy" alt="decoration title" class="mx-auto">

		<!--TABLE-->
		<div class="opening_block flex flex-wrap flex-col xl:flex-row px-8 md:px-16 justify-center items-center gap-x-24 mt-12">
			<div class="opening_table">
				<table class="min-w-full text-center text-sm font-light text-surface dark:text-white">
					<thead class="font-bold text-xl text-start">
						<th>Day</th>
						<th>Time</th>
					</thead>
					<tbody class="font-normal text-xl text-start">
						<tr>
							<td class=" px-6 ">Monday</td>
							<td class=" px-6 ">09:00 - 17:00</td>
						</tr>
						<tr>
							<td class=" px-6 ">Tuesday</td>
							<td class=" px-6 ">09:00 - 17:00</td>
						</tr>
						<tr>
							<td class=" px-6 ">Wednesday</td>
							<td class=" px-6 ">09:00 - 17:00</td>
						</tr>
						<tr>
							<td class=" px-6 ">Thursday</td>
							<td class=" px-6 ">09:00 - 17:00</td>
						</tr>
						<tr>
							<td class=" px-6 ">Friday</td>
							<td class=" px-6 ">09:00 - 17:00</td>
						</tr>
						<tr>
							<td class=" px-6 ">Saturday</td>
							<td class=" px-6 ">09:00 - 17:00</td>
						</tr>
						<tr>
							<td class=" px-6 ">Sunday</td>
							<td class=" px-6 text-center">Closed</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!--IMAGE-->
			<div class="img_border_down full flex  justify-end p-4">
				<img src="{{asset('assets/images/home/my_garden_building.jpg')}}" loading="lazy" class="h-[380px] w-[380px]   mt-4 z-10" alt=""/>
			</div>
		</div>
	</div>
</section>
