<section class="our_services w-full pt-5 lg:pt-12 pb-10 bg-bg3">
	<div class="md:container mx-auto ">
		<div class="our_products w-full">
			<h2 class="text-[1.5rem] md:text-[2rem]  text-center  text-black font-normal">Our Services</h2>
			<!--image-->
			<img src="{{asset('assets/images/decoration_text.png')}}" loading="lazy" alt="decoration title" class="mx-auto">

			<div class="our_services_block flex flex-col xl:flex-row px-8 lg:px-16 items-center">
				<div class="our_services_left  full xl:w-2/3 flex flex-col lg:flex-row  mt-4 mb-12">
					<div class="our_services_left_col_1">
						<div class="our_services_left_description mt-4 me-4 ">
							<h3 class="text-primary font-medium text-xl">Lorem ipsum</h3>
							<p>Feugiat imperdiet malesuada egestas turpis cras tincidunt nibh lorem pede sit sem suspendisse pretium rhoncus lectus ex conubia in vel mi consectetuer platea augue et natoque sollicitudin eros ipsum nostra viverra accumsan fames libero habitant dapibus</p>
						</div>
						<div class="our_services_left_description mt-4 me-4">
							<h3 class="text-primary font-medium text-xl">Lorem ipsum</h3>
							<p>Feugiat imperdiet malesuada egestas turpis cras tincidunt nibh lorem pede sit sem suspendisse pretium rhoncus lectus ex conubia in vel mi consectetuer platea augue et natoque sollicitudin eros ipsum nostra viverra accumsan fames libero habitant dapibus</p>
						</div>

					</div>
					<div class="our_services_left_col_2">
						<div class="our_services_left_description mt-4 me-4">
							<h3 class="text-primary font-medium text-xl">Lorem ipsum</h3>
							<p>Feugiat imperdiet malesuada egestas turpis cras tincidunt nibh lorem pede sit sem suspendisse pretium rhoncus lectus ex conubia in vel mi consectetuer platea augue et natoque sollicitudin eros ipsum nostra viverra accumsan fames libero habitant dapibus</p>
						</div>
						<div class="our_services_left_description mt-4 me-4">
							<h3 class="text-primary font-medium text-xl">Lorem ipsum</h3>
							<p>Feugiat imperdiet malesuada egestas turpis cras tincidunt nibh lorem pede sit sem suspendisse pretium rhoncus lectus ex conubia in vel mi consectetuer platea augue et natoque sollicitudin eros ipsum nostra viverra accumsan fames libero habitant dapibus</p>
						</div>

					</div>

				</div>

				<!--IMAGE-->

				{# <div class="img_border_up full flex  justify-end p-4">
																	<img src="{{asset('upload/products/bouquet4.png')}}" loading="lazy" class="h-[380px] w-[380px]   mt-4 z-10" alt="">
																</div> #}
				<div class="img_border_down full flex  justify-end p-4">
					<img src="{{asset('upload/products/bouquet4.png')}}" loading="lazy" class="h-[380px] w-[380px]   mt-4 z-10" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
