<section class="our_services w-full pt-20 pb-10 bg-bg3">
	<div class="md:container mx-auto ">
		<div class="our_products w-full">
			<h2 class="text-[1.5rem] md:text-[2rem]  text-center  text-black font-normal mb-4">Our Services</h2>
			<!--image-->
			<img src="{{asset('assets/images/decoration_text.png')}}" loading="lazy" alt="decoration title" class="mx-auto">

			<div class="our_services_block flex flex-col xl:flex-row px-1 md:px-16 items-center">
				<div class="our_services_left  full xl:w-2/3 flex flex-col lg:flex-row p-4 md:p-0 mt-4 mb-12">
					<div class="our_services_left_col_1">
						<div class="our_services_left_description mt-4 me-4 ">
							<h2 class="text-primary ">Lorem ipsum</h2>
							<p>Feugiat imperdiet malesuada egestas turpis cras tincidunt nibh lorem pede sit sem suspendisse pretium rhoncus lectus ex conubia in vel mi consectetuer platea augue et natoque sollicitudin eros ipsum nostra viverra accumsan fames libero habitant dapibus</p>
						</div>
						<div class="our_services_left_description mt-4 me-4">
							<h2 class="text-primary ">Lorem ipsum</h2>
							<p>Feugiat imperdiet malesuada egestas turpis cras tincidunt nibh lorem pede sit sem suspendisse pretium rhoncus lectus ex conubia in vel mi consectetuer platea augue et natoque sollicitudin eros ipsum nostra viverra accumsan fames libero habitant dapibus</p>
						</div>

					</div>
					<div class="our_services_left_col_2">
						<div class="our_services_left_description mt-4 me-4">
							<h2 class="text-primary ">Lorem ipsum</h2>
							<p>Feugiat imperdiet malesuada egestas turpis cras tincidunt nibh lorem pede sit sem suspendisse pretium rhoncus lectus ex conubia in vel mi consectetuer platea augue et natoque sollicitudin eros ipsum nostra viverra accumsan fames libero habitant dapibus</p>
						</div>
						<div class="our_services_left_description mt-4 me-4">
							<h2 class="text-primary ">Lorem ipsum</h2>
							<p>Feugiat imperdiet malesuada egestas turpis cras tincidunt nibh lorem pede sit sem suspendisse pretium rhoncus lectus ex conubia in vel mi consectetuer platea augue et natoque sollicitudin eros ipsum nostra viverra accumsan fames libero habitant dapibus</p>
						</div>

					</div>

				</div>

				<!--IMAGE-->
				<div class="img_border_up our_services_right full flex justify-end p-8 mt-0 md:mt-1">
					<img src="{{asset('assets/upload/home/products/buquet4.png')}}" loading="lazy" class="h-[380px] w-[380px]  z-10" alt=""/>
				</div>
			</div>
		</div>
	</div>
</section>
