<section class="md:container mx-auto ">
	<div class="our_products w-full pt-5 lg:pt-12 pb-10">
		<h2 class="text-[1.5rem] md:text-[2rem]  text-center  text-black font-normal">Our Products</h2>
		<!--image-->
		<img src="{{asset('assets/images/decoration_text.png')}}" loading="lazy" alt="decoration title" class="mx-auto">

		<div class="filter-buttons our_product_navigation flex px-8 lg:px-16 flex-wrap gap-3 w-full justify-center mt-10 items-center mx-auto">
			<button data-filter="all" class="btn-filter active w-[120px] py-2 px-4 ml-0 sm:ml-2  text-base font-medium text-primary text-center  bg-white hover:bg-primary hover:text-white rounded-[5px] border border-primary   transition ease-in-out delay-100">All</button>
			<button data-filter="best-seller" class="btn-filter w-[120px] py-2 px-4 ml-0 sm:ml-2  text-base font-medium text-primary text-center  bg-white hover:bg-primary hover:text-white rounded-[5px] border border-primary   transition ease-in-out delay-100">Best Seller</button>
			<button data-filter="promotion" class="btn-filter w-[120px] py-2 px-4 ml-0 sm:ml-2  text-base font-medium text-primary text-center  bg-white hover:bg-primary hover:text-white rounded-[5px] border border-primary   transition ease-in-out delay-100">Promotion</button>
			<button data-filter="new" class="btn-filter w-[120px] py-2 px-4 ml-0 sm:ml-2  text-base font-medium text-primary text-center  bg-white hover:bg-primary hover:text-white rounded-[5px] border border-primary   transition ease-in-out delay-100">New</button>
			{# <button data-filter="top-rated" class="btn-filter w-[120px] py-2 px-4 ml-0 sm:ml-2  text-base font-medium text-primary text-center  bg-white hover:bg-primary hover:text-white rounded-[5px] border border-primary   transition ease-in-out delay-100">Top Rated</button> #}
		</div>

		<!--CARDS -->
		<div
			id="product-gallery" class=" flex flex-wrap justify-center px-8 lg:px-16">
			<!--CARD -->
			{% include '_partials/homepage/_product_gallery.html.twig' with {'products': products} %}
		</div>

		<!--VIEW ALL PRODUCTS BUTTON-->
		<div class="flex justify-center">
			<a href="{{path('shop')}}" class="mt-10 py-2 px-4 ml-0 sm:ml-2  text-base capitalize font-medium text-primary text-center  bg-white rounded-[5px] border border-primary hover:bg-primary hover:text-white transition ease-in-out delay-100">View all products</a>
		</div>

	</div>
</section>
<script>
	document.querySelectorAll('.filter-buttons button').forEach(button => {
button.addEventListener('click', function () {
let filter = this.getAttribute('data-filter');

// Remove 'active' class from all buttons
document.querySelectorAll('.filter-buttons button').forEach(btn => btn.classList.remove('active'));

// Add 'active' class to the clicked button
this.classList.add('active');

fetch('/filter-products?filter=' + filter).then(response => response.json()).then(data => {
document.getElementById('product-gallery').innerHTML = data.html;
});
});
});
</script>
