<section class="our_services w-full pt-5 lg:pt-12 pb-10 bg-bg3">
	<div class="container-fluid md:container px-4 mx-auto">
		<div class="our_products w-full">
			<h2 class="text-[1.5rem] md:text-[2rem]  text-center  text-black font-normal">Our Services</h2>

			<!--image-->
			{% include "_partials/_decoration.html.twig" %}

			<div class="our_services_block flex flex-col xl:flex-row  justify-between items-center ">
				<div class="our_services_left  full xl:w-2/3 flex flex-col lg:flex-row  mt-4 mb-8">

					<div class="our_services_left_col_1">
						<div class="our_services_left_description mt-0 me-0 lg:mt-4 lg:me-4 ">
							<h3 class="text-primary font-medium text-[1rem] md:text-[1.2rem]">Lorem ipsum</h3>
							<p>Feugiat imperdiet malesuada egestas turpis cras tincidunt nibh lorem pede sit sem suspendisse pretium rhoncus lectus ex conubia in vel mi consectetuer platea augue et natoque sollicitudin eros ipsum nostra viverra accumsan fames libero habitant dapibus</p>
						</div>

						<div class="our_services_left_description lg:mt-4 lg:me-4 ">
							<h3 class="text-primary font-medium text-[1rem] md:text-[1.2rem]">Lorem ipsum</h3>
							<p>Feugiat imperdiet malesuada egestas turpis cras tincidunt nibh lorem pede sit sem suspendisse pretium rhoncus lectus ex conubia in vel mi consectetuer platea augue et natoque sollicitudin eros ipsum nostra viverra accumsan fames libero habitant dapibus</p>
						</div>
					</div>

					<div class="our_services_left_col_2">
						<div class="our_services_left_description lg:mt-4 lg:me-4">
							<h3 class="text-primary font-medium text-[1rem] md:text-[1.2rem]">Lorem ipsum</h3>
							<p>Feugiat imperdiet malesuada egestas turpis cras tincidunt nibh lorem pede sit sem suspendisse pretium rhoncus lectus ex conubia in vel mi consectetuer platea augue et natoque sollicitudin eros ipsum nostra viverra accumsan fames libero habitant dapibus</p>
						</div>

						<div class="our_services_left_description lg:mt-4 lg:me-4">
							<h3 class="text-primary font-medium text-[1rem] md:text-[1.2rem]">Lorem ipsum</h3>
							<p>Feugiat imperdiet malesuada egestas turpis cras tincidunt nibh lorem pede sit sem suspendisse pretium rhoncus lectus ex conubia in vel mi consectetuer platea augue et natoque sollicitudin eros ipsum nostra viverra accumsan fames libero habitant dapibus</p>
						</div>
					</div>
				</div>

				<!--IMAGE-->
				<div class="img_border_down full flex  justify-end p-4">
					<img src="{{asset('assets/images/home/bouquet4.webp')}}" loading="lazy" class="h-auto w-auto md:h-[380px] md:w-[380px] object-cover  mt-4 z-10" alt="front of the My garden building">
				</div>
			</div>
		</div>
	</div>
</section>
