{% extends 'base.html.twig' %}
{% block title %}My Garden - List employee
{% endblock %}

{% block body %}

	<!-- MENU  -->
	{% include ('admin/components/titleDashboardAdminMarginBottom.html.twig') %}

	<div
		class="create_employees w-full flex px-8 lg:px-16 mb-10">

		<!-- MENU LEFT  -->
		<div class="menu_admin  flex flex-col w-1/4 md:w-1/6 p-2 lg:p-8 bg-gray-50">
			<div class="sticky top-0">
				{% include ('admin/_partials/menu_navigation.html.twig')%}
			</div>
		</div>
		<!-- RIGHT CREATE FORM -->
		<aside class="w-3/4 md:w-5/6 bg-white border border-gray p-4 lg:p-8 overflow-x-hidden h-fit">
			<div class="title_form flex flex-wrap justify-between">

				<h2 class=" text-black font-medium text-xl mb-3 mb:mb-0">List of employees</h2>

				<a href="{{path('create_employee')}}" class="py-2 px-4 w-fit hover:bg-white hover:text-primary transition ease-in-out delay-100 capitalize border border-primary text-base font-medium text-white  bg-primary rounded-sm group-invalid:pointer-events-none group-invalid:opacity-60 group-invalid:disabled">
					Create employee
				</a>
			</div>

			{% if employees|length >0 %}

				<!-- INPUT RESEARCH -->
				<div class="flex items-center mt-4 mb-2 relative">
					<input type="text" id="search" name="query" placeholder="Search employees last name" class="border p-2 rounded w-full pr-10 " value="{{ query }}" maxlength="5">
					<button id="clearSearch" class="absolute font-bold right-5 text-gray-500 hidden">X</button>
				</div>
				<span id="error-message" class="text-red"></span>

				<!-- SPINNER -->
				<div id="loadingSpinner" class="hidden text-center my-4 text-primary ">
					<i class="fa-solid fa-spinner fa-2xl  animate-spin text-red-300  mx-auto"></i>
				</div>

				<!-- TABLE  -->
				<div class="flex flex-col">
					<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
						<div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
							<div id="table-container" class="overflow-hidden" data-url="{{ path('show_employees') }}">

								{% include 'admin/_partials/employees/_table_employees.html.twig' with {'employees':employees} %}
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<div class="flex justify-center flex-col items-center">
					<p class="text-2xl text-gray-600 font-normal my-3">No employees found.</p>
					<p>Create a employee.</p>
				</div>
			{% endif %}
		</aside>
	</div>
	<!-- SCRIPT  -->
	<script src="{{ asset('assets/js/admin/listTableElements.js') }}"></script>
{% endblock %}
