<section class="blog w-full pt-5 lg:pt-12 pb-10">
	<div
		class="md:container mx-auto px-8 lg:px-16">
		<!--TITLE PAGE-->
		<h2 class="text-primary font-normal capitalize text-[1.5rem] md:text-[2rem] lg:text-4xl text-center lg:text-start mt-2">Keep your roses beautiful.</h2>

		<!--BORDER-->
		<div class="border w-full mx-auto border-gray my-3 lg:my-6"></div>

		<!--BLOG HEADER-->
		<div
			class="blog_block flex flex-col-reverse md:flex-row  items-start">

			<!--HEADER-->
			<div
				class="blog_header flex flex-col-reverse lg:flex-row items-start lg:justify-between lg:items-center w-full">

				<!--CREATOR-->
				<div
					class="blog_creator flex flex-col lg:flex-row items-center justify-start lg:items-center w-full lg:w-3/4">
					<!--AUTHOR-->
					<div class="blog_author flex items-center">
						<img
						src="{{asset('assets/upload/blog/avatar_blog.png')}}" alt="" loading="lazy" class="me-3">

						<!--AUTHOR NAME-->
						<div class="blog_author_name me-0 md:me-8">
							<span class="text-gray">By</span>
							<span class="text-primary">Asley</span>
						</div>
					</div>
					<div
						class="blog_author_date flex flex-row items-center">

						<!--AUTHOR DATE-->
						<div class="blog_author_date me-8 text-gray">
							August, 9, 2024
						</div>

						<!--AUTHOR COMMENTS-->
						<div class="blog_author_date text-gray">
							<i class="fa-regular fa-comment"></i>
							<span>2</span>
							<span>Comment(s)</span>
						</div>
					</div>
				</div>

				<!--NETWORK-->
				<div class="blog_network w-full lg:w-1/3 text-gray ">
					<div class="flex mt-0 lg:mt-4  mb-4 justify-center lg:justify-end ">

						<a href="#" class=" opacity-50 hover:text-primary me-5 mb:me-0 mb:ms-5">
							<i class="fa-brands fa-pinterest fa-xl"></i>
							<span class="sr-only">Pinterest</span>
						</a>
						<a href="#" class=" opacity-50 hover:text-primary me-5 mb:me-0 mb:ms-5">
							<i class="fa-brands fa-x-twitter fa-xl"></i>
							<span class="sr-only">X</span>
						</a>

						<a href="#" class="text-gray opacity-50 hover:text-primary  me-5 mb:me-0 mb:ms-5">
							<i class="fa-brands fa-linkedin fa-xl"></i>
							<span class="sr-only">Linked In</span>
						</a>

						<a href="#" class="text-gray opacity-50 hover:text-primary  me-5 mb:me-0 mb:ms-5">
							<i class="fa-brands fa-facebook fa-xl"></i>
							<span class="sr-only">Facebook</span>
						</a>

						<a href="#" class="text-gray opacity-50 hover:text-primary  me-5 mb:me-0 mb:ms-5">
							<i class="fa-brands fa-instagram fa-xl"></i>
							<span class="sr-only">Instagram</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!--BLOG DESCRIPTION-->
		<div
			class="blog_body w-full flex flex-col lg:flex-row  justify-between items-start mt-8">
			<!--IMAGE-->
			<div class="img_bg_down_right_blog w-full lg:w-1/3 flex items-start p-4 mb-4">
				<img src="{{asset('assets/upload/blog/blog.jpg')}}" loading="lazy" class="z-10 w-full -mx-4" alt=""/>
			</div>

			<!--TEXT-->
			<div class="blog_right w-full lg:w-2/3 ps-2 lg:ps-8 mb-2">
				<div class="blog_text">
					<p class="mb-2 text-base">
						Bibendum sociosqu est adipiscing sem elit dapibus aliquet enim ornare consectetuer. Dictumst consectetur ante parturient semper torquent. Proin efficitur pede consequat sem nunc placerat. Etiam in scelerisque tempus lobortis semper diam ultrices.
					</p>
					<p class="mb-2">
						Primis elit feugiat vulputate in lacus lorem. Tellus morbi platea convallis lacus maximus sagittis viverra mattis. Nisi nulla feugiat ultrices sodales cras. Parturient sagittis malesuada accumsan cubilia aliquam tincidunt tempus nisl dapibus class. Iaculis pede metus class imperdiet potenti nisi justo sociosqu posuere tempus nec. Quisque facilisi eget integer ultrices letius class dolor.
					</p>
					<p class="mb-2">
						Enim et at libero ad lobortis. Commodo praesent lectus nisl vel neque augue feugiat placerat elementum at. Mattis aenean gravida nisl natoque facilisis fames class litora pellentesque blandit. Porttitor lobortis velit ad viverra primis dictumst letius sed. Est suspendisse ornare commodo odio porttitor congue molestie pretium massa. Maecenas finibus cubilia per duis sem magna letius lorem primis.
					</p>
					<p class="mb-2">
						Cras aliquet eu dignissim dolor luctus. Commodo si sociosqu ornare habitant libero etiam torquent accumsan nisi felis. Sociosqu velit porttitor cubilia ullamcorper euismod. Velit pharetra nisi nec justo lacus nulla si egestas facilisi.
					</p>
					<p class="mb-2">
						Suscipit ridiculus donec lobortis commodo cras. Efficitur cras felis in lacus imperdiet adipiscing nascetur potenti mollis rhoncus phasellus. Semper quisque si ornare convallis tempus magna adipiscing pulvinar potenti nisi taciti. Pulvinar parturient ullamcorper integer dui in ac. Parturient iaculis etiam fames odio aenean habitasse lacus.
					</p>
				</div>

				<!--TAGS-->
				<div class="tags flex justify-start items-center mt-8">
					<a href="" class="py-1 px-2  text-base font-medium text-gray me-4 bg-white rounded-lg border border-gray hover:bg-primary hover:text-white transition ease-in-out delay-100">Decoration</a>
					<a href="" class="py-1 px-2  text-base font-medium text-gray me-4 bg-white rounded-lg border border-gray hover:bg-primary hover:text-white transition ease-in-out delay-100">Garden</a>
				</div>
			</div>


		</div>

		<!--BORDER-->
		<div class="border w-3/4 mx-auto border-gray my-6 opacity-50"></div>

		<div class="blog_comments">
			<h3 class="text-base font-medium mb-5">2 Comments</h3>

			<!--COMMENT-->
			<div class="blog_comment mb-3">
				<h3 class="text-base font-medium">John Doe</h3>
				<h4 class="text-sm font-normal text-gray mb-2">August 9, 2024 at 9:30pm</h4>
				<p>Vehicula finibus erat ridiculus pharetra interdum aptent ligula congue dolor. Morbi hac ligula ridiculus condimentum montes pellentesque scelerisque suscipit proin egestas pulvinar. Erat tellus dictumst tempor finibus lacinia efficitur ad.</p>
			</div>
			<!--COMMENT-->
			<div class="blog_comment mb-3">
				<h3 class="text-base font-medium">John Doe</h3>
				<h4 class="text-sm font-normal text-gray mb-2">August 9, 2024 at 9:30pm</h4>
				<p>Vehicula finibus erat ridiculus pharetra interdum aptent ligula congue dolor. Morbi hac ligula ridiculus condimentum montes pellentesque scelerisque suscipit proin egestas pulvinar. Erat tellus dictumst tempor finibus lacinia efficitur ad.</p>
			</div>
			<!--COMMENT-->
			<div class="blog_comment mb-3">
				<h3 class="text-base font-medium">John Doe</h3>
				<h4 class="text-sm font-normal text-gray mb-2">August 9, 2024 at 9:30pm</h4>
				<p>Vehicula finibus erat ridiculus pharetra interdum aptent ligula congue dolor. Morbi hac ligula ridiculus condimentum montes pellentesque scelerisque suscipit proin egestas pulvinar. Erat tellus dictumst tempor finibus lacinia efficitur ad.</p>
			</div>
		</div>

		<!--BORDER-->
		<div class="border w-3/4 mx-auto border-gray mt-6 mb-12 opacity-50"></div>

		<!--FORM-->
		<div class="blog_form bg-gray-50 border border-gray-100 p-4 md:p-12 mt-10">
			<h2 class="text-[1.5rem] md:text-[2rem]  text-center  text-black font-normal">Leave a comment</h2>
			<!--image-->
			<img
			src="{{asset('assets/images/decoration_text.png')}}" loading="lazy" alt="decoration title" class="mx-auto">

			<!--FORM-->
			<form>
				<!--BLOG NAME AND EMAIL-->
				<div class="my-4 flex flex-col lg:flex-row flex-wrap justify-between ">
					<div class="name w-full lg:w-[49%]">
						<label class="block mb-2 text-sm font-medium text-black mt-4" for="name">
							Name*
						</label>
						<input class="appearance-none w-full py-2 px-3 text-sm text-black bg-white rounded-lg border border-gray-300" id="name" type="text" placeholder="Write your name">
					</div>
					<div class="email w-full lg:w-[49%]">
						<label class="block mb-2 text-sm font-medium text-black mt-4" for="email">
							Email*
						</label>
						<input class="appearance-none w-full py-2 px-3 text-sm text-black bg-white rounded-lg border border-gray-300" id="email" type="text" placeholder="Write your email">
					</div>
				</div>

				<!--BLOG COMMENT-->
				<label for="message" class="block mb-2 text-sm font-medium text-black mt-4">Comment*</label>
				<textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-black bg-white rounded-lg border border-gray-300" placeholder="Write your thoughts here..."></textarea>

				<div class="button_submit w-full md:w-1/2 lg:w-1/4 mx-auto">
					<button type="submit" class="py-2 px-4 w-full  mt-6  text-sm font-medium text-white  bg-primary rounded-sm border border-primary hover:bg-white hover:text-primary transition ease-in-out delay-100 uppercase ">
						Leave a comment
						<span class="sr-only">Leave a comment button</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</section>
