@tailwind base;
@tailwind components;
@tailwind utilities;

//GENERAL

$primary: #c34795;
$secondary: #f1c40f;
$gray: #989898;
$black: #161616;
$white: #fcfcfc;
$red: #e51515;
$bg1: #fef5ea;
$bg2: #f0f8ec;
$bg3: #cf34340a;

body {
  font-family: 'Roboto', system-ui;
  max-width: 2300px;
  margin: auto;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif', serif, system-ui;
}

//h1 space text
.line_height12 {
  line-height: 1.2 !important;
}

.group.is-published .group-\[\.is-published\]\:block {
  display: block;
}

// CARD
.card_our_product_button:hover {
  background-color: $primary;

  & .card_our_product_icon {
    color: $white;
  }
}

// CARD PROMO LABEL
.card_label {
  clip-path: polygon(26% 0, 100% 0, 100% 100%, 26% 100%, 0 56%);
  z-index: 200;
}

//FILTER CARDS
.filterDiv {
  display: none; /* Hidden by default */
}

.btn-filter.active {
  background-color: $primary;
  color: $white;
}
/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

//OUR SERVICE
.img_border_up {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 10;
    left: 10;
    right: 0;
    width: 360px;
    height: 340px;
    margin-right: 5px;
    border: 1px solid $primary;
    z-index: 0;
  }
}

//OPENING
.img_border_down {
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 20;
    bottom: 0;
    left: 0;
    right: 40;
    width: 340px;
    height: 340px;
    margin-right: 5px;
    border: 1px solid $primary;
    z-index: 0;
  }
}

//OUR STORY

.img_bg_down_left {
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 10;
    bottom: 0;
    left: 0;
    right: 10;
    width: 317px;
    height: 317px;
    margin-right: 5px;
    background-color: $bg2;
    z-index: 0;
  }
}

.img_bg_down_right {
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 10;
    bottom: 0;
    left: 10;
    right: 0;
    width: 317px;
    height: 317px;
    margin-right: 5px;
    background-color: $bg3;
    z-index: 0;
  }
}

// BLOG
.img_bg_down_right_blog {
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 10;
    bottom: 0;
    left: 10;
    right: 0;
    width: 90%;
    height: 90%;
    margin-right: 5px;
    background-color: $bg2;
    z-index: 0;
  }
}

//TRUST US CAROUSEL
@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}
