<section class="suggestions bg-bg3">

	<div class=" w-full pt-5 lg:pt-12 pb-10 ">

		<h2 class="text-[1.5rem] md:text-[2rem] text-center  text-black font-normal ">Other suggestions</h2>

		<!--image-->
		{% include "_partials/_decoration.html.twig" %}

		<div
			class="container-fluid md:container mx-auto px-4 mt-10">

			<!--CARDS-->
			<div class="flex flex-wrap justify-center gap-8 mt-16">

				{% for product in productSuggestions %}
					{% include 'components/card.html.twig'%}
				{% endfor %}
			</div>
		</div>
	</div>
</section>
