{% extends 'base.html.twig' %}

{% block title %}My Garden - Error
{% endblock %}

{% block body %}

	<section class="contact">

		<div class=" w-full pt-5 lg:pt-10 pb-10">
			<div class="container mx-auto px-8 lg:px-16">
				<div
					class=" flex justify-center items-center border border-gray-300  h-1/2">

					<!-- TEXT   -->
					<div class="w-5/6 p-6 sm:p-12 text-center">

						<h1 class="mb-4 text-lg md:text-2xl lg:text-5xl ">Ooops! Something is broken.</h1>

						<p class="text-base sm:text-lg">
							The requested page couldn't be located. Checkout for any URL misspelling or
							<a href="{{ path('home') }}" class="underline font-bold hover:text-primary">return to the homepage</a>
						</p>
					</div>

					<!-- IMAGE   -->
					<div class="text-center hidden md:flex">
						<img src="{{asset('assets/images/error_404/image_error.jpeg')}}" alt="broken vase" loading="lazy">
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
